{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Contestants{% endblock %}

{% block content %}
<section class="team-grid body-container">
    <div class="container">
        <div class="text-center intro">
            <h1 class="display-4 text-center mb-5" style="font-family: Allura, serif;">Contestants</h1>
        </div>
        <form method="GET">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 text-center search-area">
                <i class="fas fa-search search-icon"></i><input autocomplete="off" type="search" name="q" class="custom-search-input mb-md-5" placeholder="Search contestants">
            </div>
        </div>
    </form>
        {% if object_list  %}
        <div class="row people">
            {% for object in object_list %}
            {% if object.payment_verified %}
            <div class="col-md-4 col-lg-3 item" data-aos="fade-up">
                <div class="box" style="background-image: url({{object.photograph_thumbnail_small.url}});">
                    <div class="cover">
                        <h5 class="name">{{object.last_name}} {{object.other_names}}</h5>
                        <p class="title">{{object.profession}}</p>
                        <div class="d-flex justify-content-around mt-2"><a class="btn btn-warning" role="button" href="{% url 'contest:profile' object.slug %}">Profile</a>
                            <span class="btn btn-success paystack-btn"
                            data-currency="{{currency}}" 
                            data-ref="{{ref_number}}"
                            data-key="{{paystack_public_key}}" 
                            data-email="{{object.email}}" 
                            data-amount="{{contest.voting_fee_amount}}"
                            data-label="{{object.slug}}"
                            data-url="{% url 'contest:verify_voting_fee_payment' object.slug ref_number %}"
                            >
                            Vote<i class="fa fa-star ms-1"></i></span>
        
                        </div>
                    </div>
                </div>
                <div class="ribbon"><span>{% if object.count_votes %}{{object.count_votes|intcomma}}{% else %}0{% endif %} {% if object.count_votes > 1 %}votes{% else %}vote{% endif %}</span></div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
            {% if page_obj.paginator.num_pages > 1 %}
            {% include 'includes/pagination.html' with page_obj=page_obj %}
            {% endif %}
    
        {% else %}
            <h3 class="text-muted mt-2 display-6" data-aos="fade">Contestants unavailable...</h3>

    {% endif %}
</section>



{% endblock %}

{% block script %}
    

{% endblock %}

