<div class="text-center d-flex justify-content-center align-items-center py-5">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"
    style="text-decoration: none;color: #000000;font-size: 18px;"><i class="fas fa-chevron-left m-3"></i></a>
  {% else %}
  <a class="disabled" href="#" style="text-decoration: none;color: #000000;font-size: 18px;"><i
      class="fas fa-chevron-left m-3"></i></a>

  {% endif %}
  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a href="?page={{num}}" style=" text-decoration: none;">
    <div class="paginate mx-1" style="background-color:#333D5F;">
      <p>{{num}}</p>
    </div>
  </a>
  {% elif num > page_obj.number|add:'-6' and num < page_obj.number|add:'6' %} <a href="?page={{num}}"
    style="text-decoration: none;">
    <div class="paginate mx-1">
      <p>{{num}}</p>
    </div>
    </a>

    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"
      style="text-decoration: none;color: #000000;font-size: 18px;"><i class="fas fa-chevron-right mx-3"></i></a>
    {% else %}
    <a class="disabled" href="#" style="text-decoration: none;color: #000000;font-size: 18px;"><i
        class="fas fa-chevron-right mx-3"></i></a>
    {% endif %}

</div>