{% load static %}
{% load activelink %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Naija Grace Race </title>
    <link rel="icon" type="image/png" sizes="31x30" href="{% static 'img/ico.png' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://js.paystack.co/v1/inline.js"></script>
    
</head>

<body id="{% block body_id%}{% endblock %}" class="{% block body_class%}{% endblock %}">

    {% include 'includes/alert.html' %}
    {% if contest.has_started %}
    {% include 'includes/banner.html' %}
    {% endif %}
    {% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
    {% block content %}{% endblock %}
    <a onclick="scrollToTop()">
        <div  id="scroll-to-top"><i class="fa fa-chevron-up"></i></div>
    </a>
    {% include 'includes/footer.html' %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/paystack.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}{% endblock %}

</body>

</html>
