.navbar-light .navbar-nav .nav-link {
  color: #333D5F;
  padding: 8px !important;
  margin: 0 10px;
  border-color: #20B07C;
}

.home .navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.home .navbar-toggler .bi-filter-right {
  color: #ffffff !important;
}

@media (min-width: 768px) {
  .home .active, .home .nav-link:hover, .nav-item .active, .nav-link:hover {
    border-bottom: 3px solid #20B07C !important;
  }
}

@media (max-width: 768px) {
  .home .active, .home .nav-link:hover, .nav-item .active, .nav-link:hover {
    color: #20B07C !important;
  }
}

.btn {
  border-radius: 0px;
  border: none;
}

.contestants-info {
  padding: 10px 15px;
  background-color: #333D5F;
}

.contestants-votes {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: #20B07C;
  position: absolute;
  top: 15px;
  right: 15px;
}

.contestants-votes p {
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.paginate {
  height: 40px;
  width: 40px;
  background-color: #20B07C;
  border-radius: 50px;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

@media (min-width: 992px) {
  #contact-us-bg {
    background: url("../img/contact-us-bg.png?h=51a8422f34eabfe5908f122b310dffc9") bottom left no-repeat;
  }
}

@media (min-width: 992px) {
  #registration-bg {
    background: url("../img/registration-bg.png?h=6d10409c392714f8156ba8c5545ad5f9") bottom left no-repeat;
  }
}

@media (min-width: 992px) {
  #payment-bg {
    background: url("../img/registration-bg.png?h=6d10409c392714f8156ba8c5545ad5f9") bottom left no-repeat;
  }
}

@media (min-width: 992px) {
  #contestants-bg {
    background: url("../img/contestant-bg.png?h=508e7bb1870b27dffe5a65f97b199b8d") bottom left no-repeat;
  }
}

@media (min-width: 992px) {
  #profile-bg {
    background: url("../img/profile-bg.png?h=626123861cdeefd0e653d5f0eb03ac86") bottom right no-repeat;
  }
}

@media (min-width: 992px) {
  #about-us-bg {
    background: url("../img/about-us-bg.png?h=357ffa62cb9a666517a96d411e57dfba") bottom left no-repeat;
  }
}

#about-us-1{
background: url('../img/about-us-1.png') center / cover no-repeat;min-height: 194px;height: 100%;
}

#footer {
  background-color: #20b07c;
  padding: 70px;
}

@media (max-width: 992px) {
  #footer {
    padding: 70px 50px;
  }
}

@media (min-width: 768px) {
  .form-div {
    background-color: #20B07C;
  }
}

.vertical-line {
  height: 289px;
  width: 6px;
  background-color: #20B07C;
}

@media (max-width: 992px) {
  .vertical-line {
    width: 2px;
  }
}

#home-summary-heading {
  color: #333D5F;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #hero-box h1 {
    font-size: 24px !important;
  }
}

@media (max-width: 576px) {
  #hero-box h1 {
    font-size: 22px !important;
  }
}

@media (max-width: 768px) {
  #hero-box p {
    font-size: 12px;
  }
}

.home-social-icons a {
  color: #ffffff;
  text-decoration: none !important;
}

@media (min-width: 992px) {
  #home-bg {
    background: url("../img/home-bg.png?h=fd6d372fb814dcd269b6407f53c79bc7") bottom right / contain no-repeat, #333D5F;
    position: relative;
  }
}

@media (max-width: 992px) {
  #home-bg {
    background: url("../img/home2-bg.png?h=1eb877a3aef713dbb56b1c9d82ab835d") bottom right / contain no-repeat, #333D5F;
    position: relative;
  }
}

@media (min-width: 576px) {
  #hero-box {
    width: 394px;
    height: 553px;
    margin-left: 100px !important;
  }
}

@media (min-width: 992px) {
  #hero-box {
    margin-left: 280px !important;
  }
}

@media (max-width: 576px) {
  #hero-box {
    width: 301px;
    height: 553px;
  }
}

@media (max-width: 576px) {
  #home-summary-heading {
    font-size: 26px;
  }
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0,0,0,.3);
  color: #fff;
  padding-top: 2px;
  z-index: 100;
  cursor: pointer;
}

#alert-message{
  position: absolute;
  top: 0;
}

.message-error{
  background: #dc3545;
}

.message-success{
  background-color: #20B07C;
  
}

@media (max-width: 576px) {
  #footer .home-social-icons a {
    fill: white !important;
  }
}

.update-button {
  color: #333D5F;
  border: 1px solid #333D5F;
  font-size: 18px;
  padding: 14px 44px;
  border-radius: 3px;
}

.update-button:hover {
  color: #ffffff;
  background-color: #333D5F;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}




