{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<section>
    <div class="container body-container">
        <div>
            <h1 class="display-4 text-center mb-4" style="font-family: Allura, serif;">About Us</h1>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col">
                <p>Naija Grace Race is an innovative and goal oriented seasonal online and TV voting pageant show which gives opportunity and showcases positive attributes of talented Nigerian young men and women and award them with a cash price after completing a task and the task is base on entertainments such as dancing, singing, comedy etc.&nbsp;<br><br><br></p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col">
                <h4>HERE IS HOW IT WORKS</h4>
                <p>After a successful registration, a page will be created for each contestant in which you will be required to get your family and friends to vote for you, you will be able to monitor your votes and that of your level contestant and this will take place within a period of time before closing the site leaving 6 person’s with the highest Votes to contest.<br></p>
                <p>A task will be given to the 6 contestant in which it will be showcase on a tv station and social medias for Nigerians to vote for within 24 hours, the person with the lowest vote will be evicted remaining 5 contestant, same goes to day 2 and day 3. The contest will last for 3 days after which 3 contestant will emerge as first, second and third Winners. Prices will be giving to the first, second and third with the highest Votes respectively<br></p>
                <p>A call will be put across to the winners with a video coverage to informing them of their victory and a message will be sent to them to inform them on how to collect their prices. The other 3 will be compaciated for their journey so far.<br></p>
                <p>And with this come to the end of the first <strong>RACE</strong>.<br></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
